$screen-xs-max: 576px;
$screen-sm-max: 767px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

$sliderMenuWidth: 30%;
$transition-default: .4s;
$mobile-font-size: .9em;
$profile-table-left-right-padding: 40px;
$black: black;
$grey: #EDEDED;
$grey-darker: #cac9c9;
$white: white;
$default-text-color: #212529;